* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(Images/AZURA.png);
    background-position: center;
    background-size: cover;
    position: relative;
}